@use 'colors' as *;

/*Страница*/
html {
    height: 100%;
    font-size: 16px;
}

/*Тело страницы*/
body {
    height: 100%;
    color: $color__text--primary;
    font-family: Georgia;
}

/*Поля ввода*/
input {
    color: $color__text--primary;
}

/*Ссылки*/
a {
    color: $color__text--primary;
}

/*Основной блок*/
.base__block {
    height: 100%;
    background-color: $background__body--primary;
}

.base__text--error {
    color: $color__text--errror;
}