@charset "UTF-8";
/*Базовые*/
/*Страница*/
html {
  height: 100%;
}

/*Тело страницы*/
body {
  height: 100%;
  background-color: hsl(0, 0%, 10%);
}

/*Основной блок*/
.base-block__div {
  height: 100%;
}

/*Georgia*/
@font-face {
  font-family: "Georgia";
  src: url("/fonts/Georgia.ttf");
}
/*Ofont ru Optimus*/
@font-face {
  font-family: "Ofont ru Optimus";
  src: url("/fonts/Ofont_ru_Optimus.ttf");
}
/*Страницы*/
/*Внешний блок аутентификации*/
.authentication-block-outer {
  display: flex;
  height: 100%;
}

/*Внутренний блок аутентификации*/
.authentication-block-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/*Блок заголовка*/
.authentication-title__block {
  display: flex;
}

/*Текст заголовка*/
.authentication-title__text {
  color: hsl(0, 0%, 75%);
  font-family: Ofont ru Optimus;
  font-size: 2rem;
}

/*Блок форм ввода*/
.authentication-inputs__block {
  display: flex;
}

/*Форма ввода форм ввода*/
.authentication-inputs__input {
  color: hsl(0, 0%, 75%);
  font-family: Georgia;
  font-size: 1rem;
}
