@use '../base/colors' as *;

/*Внешний блок аутентификации*/
.authentication__outer-block {
    display: flex;
    height: 100%;
}

/*Внутренний блок аутентификации*/
.authentication__inner-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 2rem;
    min-width: 20rem;
    font-size: 1rem;
}

/*Блок заголовка*/
.authentication__title-block {
    display: flex;
    margin: auto;
}

/*Текст заголовка*/
.authentication__title-text {
    font-family: Ofont ru Optimus;
    font-size: 2.5rem;
}

/*Блоки форм ввода и действий*/
.authentication__inputs-block, .authentication__actions-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*Блок формы ввода*/
.authentication__inputs-block {
    grid-gap: 1rem;
}

/*Блок формы действий*/
.authentication__actions-block {
    align-items: center;
    grid-gap: 1rem;
    width: 75%;
}

/*Элемент ввода формы ввода*/
.authentication__inputs-input {
    padding: 0 0 .25rem .5rem;
    width: 100%;
    border-bottom-color: $color__text--primary;
    border-bottom-width: .125rem;
    border-bottom-style: solid;
}

/*Кнопка формы действий*/
.authentication__actions-button {
    display: flex;
    padding: .25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: .5rem;
    background-color: $color__text--primary;
    color: $background__body--primary;
    cursor: pointer;
}

/*Заблокированная кнопка формы действий*/
.authentication__actions-button--disabled {
    cursor: not-allowed;
    pointer-events: none;
}

/*Ссылка формы действий*/
.authentication__actions-link {
}

/*Заблокированная ссылка формы действий*/
.authentication__actions-link--disabled {
    cursor: not-allowed;
    pointer-events: none;
}


/*Блок пароля*/
.authentication__password-block {
    position: relative;
    width: 100%;
}

/*Кнопка видимости пароля*/
.authentication__password-visibility-button {
    position: absolute;
    right: .5rem;
    cursor: pointer;
    opacity: 0.8;
}
.authentication__password-visibility-button:hover {
    opacity: 1;
}
.authentication__password-visibility-button:active {
    opacity: 1;
}