@use '../base/colors' as *;

//Блок колеса загрузки
.spinner__block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.4em;
    width: 1.4em;
}

//Элемент колеса загрузки
.spinner__element {
    height: 100%;
    max-height: 5rem;
    width: 100%;
    max-width: 5rem;
    border: 0.2em solid $background__body--primary;
    border-top: 0.2em solid $color__text--primary;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    animation: spin 1s linear infinite;
}

//Анимация spin
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}