<!DOCTYPE html>

<html lang="ru">
    <head>
        <title>@ViewBag.Title</title>
        <link href="/css/reset.css" rel="stylesheet">
        <link href="/css/site.css" rel="stylesheet">
    </head>
    <body>
        <div class="base-block__div">
            <!--Построение страницы-->
            @RenderBody()
        </div>
        <!--Подключение js-файла приложения-->
        <script src="/js/site.js"></script>
    </body>
</html>