@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Авторизация";
    Layout = "/Zones/Shared/_Layout.cshtml";
}

<div class="authentication-block-outer">
    <div class="authentication-block-inner">
        <div class="authentication-title__block">
            <div class="authentication-title__text">
                ИНСАНИЯ
            </div>
        </div>
        <div class="authentication-inputs__block">
            <input type="text" autocomplete="off" placeholder="Логин" class="authentication-inputs__input" />
            <input type="text" autocomplete="off" placeholder="Пароль" class="authentication-inputs__input" />
        </div>
        <div id="authentication_buttons" class="authentication-actions__block">
            <a class="authentication-actions__button">Войти</a>
            <a class="authentication-actions__button">Зарегистрироваться</a>
        </div>
        <div class="authentication-actions__block">
            <a class="authentication-actions__link">Забыли пароль?</a>
            <a class="authentication-actions__link">Зарегистрироваться</a>
        </div>
    </div>
</div>