@page
@{
    ViewBag.Title = "Авторизация";
    Layout = "/Zones/Shared/_Layout.cshtml";
}

<div class="authentication-block-outer">
    <div class="authentication-block-inner">
        <div class="authentication-title__block">
            <div class="authentication-title__text">
                ИНСАНИЯ
            </div>
        </div>
        <div class="authentication-inputs__block">
            <input type="text" autocomplete="off" placeholder="Логин" class="authentication-inputs__input" />
        </div>
    </div>
</div>